<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('css/clubStyle.css') }}">
</head>
<body style="background-color: #2f2f2f">
<div class="myCard">
    <div class="innerCard">
        <div class="frontSide">
            <p class="title">Clubs Esprit</p>
            <img class="img" src="{{ asset('img/esprit.jpg') }}" alt="">
        </div>
        <div class="backSide">
            <p class="title">Description</p>
            <p class="description">Au sein d’Esprit, les associations et clubs remplissent plusieurs rôles étant donné
                la diversité des motivations qui animent ceux qui en sont à l’origine. Conscients de
                l’importance de la vie associative, les étudiants jouent un rôle important dans
                l’élaboration et la transmission des messages aux destinataires.</p>
            <a href="{{ path('app_club_list') }}">découvrir plus ...</a>
        </div>

    </div>
</div>
</body>
</html>